<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Edit Account</title>
    <link rel="stylesheet" th:href="@{/styles.css}">
</head>
<body>
<div class="frame">
    <h1 th:text="${account.accountName}"></h1>

    <form class="regular-text" action="" method="post">
        <p>
            <div>
                <label for="accountName">Account Name:</label><br>
                <input type="text" id="accountName" th:field="${account.accountName}" />
            </div>
        </p>
        <div>
            <input class="big-button" type="submit" value="Save Account" />
        </div>
    </form>
    <hr />
    <form th:action="@{/user/{userId}(userId=${userId})}" method="get" class="side-by">
        <button type="submit" class="big-button">User Page</button>
    </form>
</div>
</body>
</html>
