<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Create Account</title>
</head>
<body>
<div class="frame">
	<h1>Create Your Account</h1>

	<form action="" method="post">
		<div>
			<label>Username:</label>
			<input type="text" th:field="${user.username}" />
		</div>
		<div>
			<label>Password:</label>
			<input type="password" th:field="${user.password}" />
		</div>
		<div>
			<label>Full Name:</label>
			<input type="text" th:field="${user.name}" />
		</div>
		<div>
			<input type="submit" value="Create Account" class="big-button" />
		</div>
	</form>

	<form th:action="@{/users}" method="get">
		<button type="submit" class="big-button">Go to Users</button>
	</form>
</div>
</body>
</html>
